---
// 基础 样式
import "./Footer.less";
---

<footer class="vh-footer">
	<main>
		<p><cite>稳定运行</cite><em class="web_time"></em></span><a href="/rss.xml" target="_blank"><img alt="rss" src="/assets/images/footer/rss.svg" /></a></p>
	</main>
</footer>
